*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a,li,nav{
    color:white;
    text-decoration: none;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    display: inline-block;
}
.one,.two,.five,.eight{
    font-family: sans-serif;
}
a:hover{
    color: yellow;
}
li{
    margin-top:1vw;
}
.name{
    margin-left: 9vw;
    font-family:"Grechen Fuemen",serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.2vw;
}
.one{
    margin-left: 20vw;
}
.five{
    margin-left: 15vw;
}
.eight{
    background-color: orange;
    padding-right: 1vw;
    border-radius: 20px;
    display: inline-block;
}
.eight:hover{
    /* color: white; */
    background-color: orangered;
}
.bg{
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div{
    color: white;
    margin-top: 20vh;
    margin-left: 10.5vw;
    margin-right: 50vw;
    font-size: 18px;
}
.nam{
    font-family:"Grechen Fuemen",serif;
    letter-spacing: 0.2vw;
    margin-bottom: 3vh;
    font-size: 28px;
}
.btn{
    margin-top: 3vh;
    background-color: rgb(236, 137, 8);
    border-radius: 20px;
    color: white;
    padding: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
.btn:hover{
    cursor: pointer;
    color:yellow;
    background-color: orangered;
}
.img{
    margin-left: 11vw;
    margin-top: 20vh;
    /* margin-bottom: 20vh; */
    padding-bottom: 33.3vh;
}
.im{
    height: 1vh;
    width: 0.5vw;
}
.im:hover{
    height: 1.3;
    width: 0.6vw;
    cursor: pointer;
    color: yellow;
}
#menu{
    color: black;
    margin-top: 10vh;
}
.men{
    margin-left: 42vw;
    font-family:"Grechen Fuemen",serif;
    font-size: 25px;
    letter-spacing: 1px;
}
dl{
    display: flex;
    margin-left: 25vw;
    padding: 3vw;
}
dd{
    margin-left: 3.2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
dd:hover{
    background-color: rgb(34, 33, 33);
    border-radius: 20px;
    cursor: pointer;
    color: white;
    
}
.container{
    display: grid;
    grid-template-columns:33.33% 33.3% 33.3% ;
    column-gap:1.5vw ;
    row-gap: 5vh;
    justify-content: center;
    align-items: center;

    margin-left: 18vw;
    margin-right: 15vw;
    margin-bottom: 2vw;
    white-space: 10px;
}
.box{
    background-color: rgba(34,40,49,255);
    width: 20vw;
    height: 50vh;
    color: white;
    border-radius: 15px;
    
}
.child1{
    height: 28vh;
    width: 19.98vw;
    padding-top: 7vh;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-bottom: 4vh ;
    /* padding: 4.7vw;
    padding: 5vh; */
    background-color: rgb(224, 224, 224);
    border-radius: 15px 15px 0px 40px;
}
.child1:hover{
    padding-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
    transition: 0.6s;
}
.child2{
    margin-left: 1vw;
    margin-bottom: 1vh;
    margin-top: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.child3{
    margin-left: 1vw;
    font-weight: lighter;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    margin-right: 0.13vw;
    margin-bottom: 1vh;
}
.child4{
   margin-left: 1vw;
}
#child5{
    margin-left: 14vw;
    background-color: #ffbc34;
    padding: 0.4vw;
    padding-right: 0.6vw;
    border-radius: 100%;
    cursor: pointer;
}
#child5:hover{
    background-color: #eaad35;
}
.button{
    display: flex;
    justify-content: center;
}
#about{
    background-color: rgba(34,40,49,255);
    margin-top: 10vh;
    width: 100%;
    height: 110vh;

}
.abtimg{
    margin-top:8vh ;
    height: 88vh;
    width: 32vw;
    position: absolute;
}
.img1{
    margin-left: 15vw;
}
.abttxt{
    /* display: inline-block; */
    color: white;
    padding-top: 40vh;
    padding-left: 53vw;
}
.abth{
    font-family:"Grechen Fuemen",serif;   
    letter-spacing: 0.2vw;
    margin-bottom: 3vh;
    /* margin-left: 15vw; */
    font-size: 40px;
}
.abtp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 12vw;
    font-size: 20px;
    margin-bottom: 3vh;
}
.btn1{
    background-color: #ffbc34;
    color: white;
    padding: 1vw;
    font-size: 15px;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 3vh;
    border-radius: 50px;
    border: 0px;
    margin-bottom: 15vh;
}
.btn1:hover{
    background-color: #e4a82f;
    cursor: pointer;
}
form{
    margin-top: 15vh;
}
input,select{
    width: 35vw;
    height: 7vh;
    margin: 1vw;
    border: 0.1px solid rgb(94, 94, 94);
    border-radius: 5px;
    margin-left: 15vw;
    padding-left: 1.3vw;
    font-size: 15px;
}
.inp{
    font-family:"Grechen Fuemen",serif;  
    margin-top: 5vh;
    font-size: 45px;
    margin-left: 15vw;
}
.btn2{
    background-color: #ffbc34;
    color: white;
    padding: 1vw;
    font-size: 15px;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: 15vw;
    margin-top: 3vh;
    border-radius: 50px;
    border: 0px;
    margin-bottom: 15vh;
}
.btn2:hover{
    background-color: #eaad35;
}
.book1{
    position: absolute;

}
.book2{
    position: relative;
    margin-left: 53vw;
    padding-top: 25vh;
    margin-bottom: 30vh;
}
.map{
    border-radius: 30px;
    
}
footer{
    background-color: rgba(34,40,49,255);
    width: 100%;
    height: 67vh;
}
.foot{
    display: grid;
    grid-template-columns: 33.33% 33.3% 33.3%;
    margin-left: 10vw;
    margin-right: 10vw;
    column-gap: 1vw;
    color: white;

}
.footname{
    font-family:"Grechen Fuemen",serif;  
    font-size: 30px;
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
    letter-spacing: 0.8vh;
}
.foot1{
    margin-top: 15vh;
}
address{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
}
address:hover{
    color: #eaad35;
    cursor: pointer;
}
.fa-phone,.fa-envelope,.fa-map-marker{
    margin-right: 10px;
}
.foot2{
    text-align: center;
    margin-top: 15vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
.ft2{
    font-family: "Open Sans", sans-serif;
    margin-bottom: 2vh;
    font-size: 15px;
    line-height: 25px;
}
.fa-facebook,.fa-twitter,.fa-linkedin,.fa-instagram,.fa-pinterest{
    padding: 1vh;
    background-color: white;
    border-radius: 60%;
    padding-right: 1.2vh;
    padding-left: 1.2vh;
    color: rgb(40, 40, 40);
    margin: 0.2vh;
    font-size: 25px;
}
.fa-facebook:hover,.fa-twitter:hover,.fa-linkedin:hover,.fa-instagram:hover,.fa-pinterest:hover{
    color:  #eaad35;
    cursor: pointer;
}
.foot3{
    text-align: center;
    margin-top: 15vh;
    
}
pre{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.foot4{
    color: white;
    margin-top: 5vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 5vh;
    word-spacing: 0.1vw;
}
